<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= render 'follow_form' if signed_in? %>
      <% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <% if will_paginate(@microposts) %>
          <%= will_paginate(@microposts).gsub(/<li.*?>/, '') \
                                        .gsub(/<\/li>/, '') \
                                        .gsub(/<ul>/, '') \
                                        .gsub(/<\/ul>/, '') \
                                        .html_safe %>
        <% end %>
      <% end %>
    </td>
    <td class="sidebar round">
      <%= render 'user_info' %>
    </td>
  </tr>
</table>
